DB_URL=
DB_USERNAME=
DB_PASSWORD=

JWT_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SSLCOMMERZ_STORE_ID=
SSLCOMMERZ_STORE_PASSWORD=
SSLCOMMERZ_API_INITIATE=
SSLCOMMERZ_API_VALIDATION=

APP_BASE_URL=
FRONTEND_URL=